{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-12 h-100 mb-4
   d-flex align-items-center justify-content-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal text-center">Вы действительно хотите
        удалить
        блог<br>"{{ object.title }}"?</h4>
    </div>
  <div class="card-body">
     <form action="" method="post" enctype="multipart/form-data"
           class="form-floating">
      {% csrf_token %}
       <div class="col-12 h-100 mb-2
            d-flex align-items-center justify-content-center">
         <button type="submit"
                 class="btn btn-lg btn-block btn-outline-danger m-2">Удалить
         </button>
         <a href="{% url 'blog:detail' blog.slug %}"
            class="btn btn-lg btn-block btn-outline-info m-2"
            role="button">Отмена
         </a>
       </div>

     </form>
  </div>
  </div>
</div>

{% endblock %}