<div class="p-3
  bg-secondary border-bottom box-shadow">
  <nav class="ms-5">
    <a class="p-2 btn btn-outline-light"
       href="{% url 'catalog:index' %}">
        Каталог</a>
    <a class="p-2 btn btn-outline-light"
       href="{% url 'blog:index' %}">Блог</a>
    <a class="p-2 btn btn-outline-light"
       href="{% url 'catalog:contacts' %}">Контакты</a>

    <div class='d-flex justify-content-end'>
      {% if user.is_authenticated %}
      <p class="m-2 text-white">
        {{ user.email }} |
      </p>
      <a class="btn btn-sm btn-info m-1"
        href="{% url 'users:profile' %}">Профиль</a>
      <a class="btn btn-sm btn-danger m-1"
        href="{% url 'users:logout' %}">Выйти</a>
      {% else %}
      <a class="btn btn-sm btn-info m-1"
        href="{% url 'users:login' %}">Войти</a>

      <a class="btn btn-sm btn-warning m-1"
        href="{% url 'users:register' %}">Регистрация</a>
      {% endif %}
    </div>

  </nav>
</div>



