<div class="p-3
  bg-secondary border-bottom box-shadow">
  <nav class="ms-5">
    <a class="p-2 btn btn-outline-light"
       href="{% url 'catalog:index' %}">
        Каталог</a>
    <a class="p-2 btn btn-outline-light"
       href="{% url 'blog:index' %}">Блог</a>
    <a class="p-2 btn btn-outline-light"
       href="{% url 'catalog:contacts' %}">Контакты</a>

    <div class='d-flex justify-content-end'>
      <a class="btn btn-warning"
        href="{% url 'users:register' %}">Регистрация</a>

    </div>
  </nav>
</div>



