{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-12 h-100 mb-4
   d-flex align-items-center justify-content-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h6 class="my-0 font-weight-normal">
        Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам новый сгенерированный пароль.
      </h6>
    </div>
  <div class="card-body">
     <form action="" method="post" enctype="multipart/form-data"
           class="form-floating">
      {% csrf_token %}
      {{ form.as_p }}
       <button type="submit"
               class="btn btn-lg btn-block btn-outline-danger
            col-12 h-100 mb-2
            d-flex align-items-center justify-content-center">Отправить
       </button>
     </form>
  </div>
  </div>
</div>

{% endblock %}