{% extends 'catalog/base.html' %}
{% block content %}

<div class="col-12 h-100 mb-4
   d-flex align-items-center justify-content-center">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Добавить пользователя</h4>
    </div>
  <div class="card-body">
     <form action="" method="post" enctype="multipart/form-data"
           class="form-floating">
      {% csrf_token %}
      {{ form.as_p }}
       <button type="submit"
               class="btn btn-lg btn-block btn-outline-success
            col-12 h-100 mb-2
            d-flex align-items-center justify-content-center">Сохранить
       </button>
     </form>
  </div>
  </div>
</div>

{% endblock %}