{% extends 'catalog/base.html' %}
{% block content %}

<div class="m-3 col-12 h-100 mb-2 d-flex align-items-center
    justify-content-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            {% if object %}
            <h4 class="my-0 font-weight-normal">Редактировать товар</h4>
            {% else %}
            <h4 class="my-0 font-weight-normal">Новый товар</h4>
            {% endif %}
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {% for f in form %}
                    <p>
                        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                    </p>
                    {% endfor %}
                <button type="submit"
                        class="btn btn-lg btn-block btn-outline-success col-12 h-100 d-flex align-items-center justify-content-center">Сохранить
                </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

